:root {
	--primary-color: #22a7df;
	--secondary-color: #37bbbc;
	--white-color: #fff;
	--black-color: #000;
	--main-font: 'Gotham Book';
	--second-font: 'Gotham';
	--third-font: 'Playfair Display';
}



html {
	/* scroll-behavior: smooth; */
	/* overflow-x: hidden; */
}

body {
	font-family: var(--main-font) !important;
	overflow-x: hidden;
	/* background-color: var(--primary-color); */
	/* cursor: none; */
}

header {
	overflow: hidden;
}

a {
	text-decoration: none !important;
}

/* loader */
/* .preloader {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background: #2296ce;
  overflow: hidden;
}

.site-name {
  width: 100%;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
}

.preloader span {
  font-size: 80px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  font-family: var(--second-font) !important;
}

.preloader-gutters {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  background: transparent;
}

.preloader-gutters .bar {
  width: 12.5%;
  height: 100%;
  position: relative;
  background: transparent;
}

.inner-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #272f56;
  
}

.preloader-overlay {
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transform: translateX(-100%);
} */

/* Hide main content initially */
/* .site-main {
  display: none;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s ease, transform 0.5s ease;
} */




/* loader */

.loader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #212a59;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}

.loader-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
}

.loader-icon {
	width: 200px;
	height: 200px;
	animation: pulse 1.5s ease-in-out infinite;
}

.loader-progress {
	width: 200px;
	height: 3px;
	background: #eee;
	border-radius: 3px;
	overflow: hidden;
	position: relative;
}

.loader-progress::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 0;
	background: var(--primary-color);
	animation: progress 2s ease-in-out forwards;
}

@keyframes pulse {
	0% {
		transform: scale(1);
		opacity: 1;
	}

	50% {
		transform: scale(1.1);
		opacity: 0.8;
	}

	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes progress {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}

/* loader */


/* END loader */

.width-container{
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
}


/* navbar */
.main-header {
	position: absolute;
	z-index: 9;
	width: 100%;
	top: 50px;
}

.main-header-in {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.header-img {
	width: 200px;
}
.header-img img {
	width: 100%;
	height: 100%;
}


/* menu */

.menu-button {
	font-size: 35px;
	color: white;
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;
}

.menu-button .r-menu {
	font-size: 14.78px;
	padding: 0 15px 0 45px;
}

.menu-button .close-icon {
	display: none;
}

.menu-button.open .open-icon,
.menu-button.open .r-menu {
	display: none;
}

.menu-button.open .close-icon {
	display: inline;
	display: inline;
	padding-left: 100px;
	border-radius: 50px;
	color: #fff;
	font-size: 35px;
}

/* Right-side menu overlay */
.menu-overlay {
	position: fixed;
	top: 0;
	right: -50%;
	width: 40%;
	height: 100vh;
	background-color: #242e5f;
	/* border-top-left-radius: 50%;
	border-bottom-left-radius: 50%; */
	display: flex;
	align-items: center;
	/* justify-content: center; */
	padding-left: 4%;
	z-index: 2;
	box-shadow: -5px 0 15px rgba(0, 0, 0, 0.3);
	/* transition: right 0.5s ease; */
  	overflow-y: auto;
}
.menu {
	display: flex;
	flex-direction: column;
	gap: 20px;
}
.menu a {
	color: #fff;
	font-size: 24px;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	transition: color 0.3s ease, transform 0.3s ease;
}
.menu a::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: -4px;
	left: 0;
	background-color: #2db2cc;
	transform: scaleX(0);
	transform-origin: left;
	transition: transform 0.3s ease;
}
.menu a:hover {
	color: #2db2cc;
	transform: translateX(5px);
}
.menu a:hover::before {
	transform: scaleX(1);
}


/* menu dropdown */
.main-header .menu-dropdown {
	position: relative;
	display: flex;
	flex-direction: column;
  }
  
.main-header .dropdown-toggle {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
  }
  
.main-header .dropdown-menu {
	display: none;
	flex-direction: column;
	margin-top: 10px;
	padding-left: 20px;
}

.dropdown-menu.active {
	display: block;
}
  
.main-header .menu-dropdown.open .dropdown-menu {
	display: flex;
	position: relative;
	background-color: transparent;
	border: 0;
  }
  
.main-header .dropdown-menu a {
	font-size: 24px;
	margin: 5px 0;
  }
.main-header .dropdown-toggle::after{
	display: none;
  }

  .main-header .dropdown-toggle svg{
	font-size: 20px;
	padding-left: 10px;
  }


/* END menu dropdown */

/* menu */
.no-scroll,
.no-scroll body {
	overflow: hidden;
	height: 100%;
}
/* navbar */

/* banner */
.banner_slider {
	
}

.slider-banner{
	background-color: #1f2154; 
}

.banner_slider video{
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	object-fit: cover;
}


.banner_slider .slide .carousel-item{
	max-height: 100vh;
}

.banner_slider .slide .carousel-item img{
	height: 100vh;
}

.banner_slider .carousel-caption {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	padding: 20px;
	bottom: auto;
}

.banner_slider .carousel-caption h6 {
	font-size: 30px;
	font-weight: 600;
	line-height: 33px;
	color: white;
	text-transform: uppercase; 
	margin-bottom: 0;
}

.banner_slider .carousel-caption h2 {
	font-size: 5rem;
	font-weight: 600;
	text-shadow: 3px 4px 7px rgb(11, 11, 11);
	/* background: linear-gradient(90deg, #19bbff 40%, #0dfdff); */
    /* background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent; */
	text-transform: uppercase;
	font-family: var(--second-font) !important;
	-webkit-text-stroke: 1px #ffffff29;
	color: #125eb6;
}

/* .banner_slider .carousel-caption h2 span{
	background: linear-gradient(90deg, #19bbff 40%, #0dfdff);
	background: linear-gradient(90deg, #19bbff 40%, #0dfdff); 
    background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
} */

.banner_slider .carousel-caption p {
	font-size: 16px;
	font-weight: 300;
	line-height: 20px;
	max-width: 600px;
	margin: 0 auto;
	font-family: var(--third-font) !important;
}

.banner_slider_video {
  position: relative;
}
.banner_slider_video::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000928;
  opacity: 0.8;
  z-index: 0;
}

/* Gradient title for "Bin Asheer" */
/* .title-gradient {
  background: linear-gradient(90deg, #0e89bd 0%, #03dbdd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
} */

/* Buttons container */
.company-buttons {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  z-index: 2;
  position: relative;
}

.company-buttons img{
	width: 130px;
	height: 40px;
  	object-fit: contain;
	display: block;
}

/* Button styling */
.company-btn {
  padding: 12px 15px;
  color: #fff;
  border-radius: 10px;
  transition: all 0.3s ease;
  border: 1px solid #aabbcc91;
  transition: all 0.3s ease;
}
.company-btn:hover {
  background: linear-gradient(90deg, #03dbdd, #0e89bd);
  transform: translateY(-2px);
}






/* ----------------- about ---------------------*/
.about {
	background-color: #1f2154; 
	padding: 120px 0;
	margin-top: -8px;
}

.bin-about video{
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

.bin-about-cont{
	position: relative;
	z-index: 9;
}

.left-about-cont h2{
	font-size: 50px;
	font-weight: 500;
	line-height: 60px;
	background: linear-gradient(90deg, #22a7df, #37bbbc);
    background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	text-transform: uppercase;
	font-family: var(--second-font) !important;
}

.left-about-cont button {
	font-size: 16px;
	font-weight: 300;
	color: white;
	padding: 12px 30px;
	border: 1px solid #22a7df;
	border-radius: 6px;
	margin-top: 25px;
	font-family: var(--third-font) !important;
}

.left-about-cont button:hover {
	color: white;
	border: 1px solid #22a7df;
	background-color: #22a7df;
}

.right-about-cont {
	height: 600px;
  	width: 100%;
}
.right-about-cont img{
	width: 100%;
	height: 100%;
	object-fit: contain;
	filter: drop-shadow(0px 50px 15px #0e0e0f8a);
}


/* ----------- start verticals ----------------*/
.pfolio {
    position: relative;
    margin: 100px 0 30px;
}

.pfolio h2 {
  font-size: 30px;
  font-weight: bold;
  color: #272f56;
  text-transform: uppercase;
  padding-bottom: 30px;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--second-font) !important;
}

.carousel-wrap {
    position: relative;
}

.owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
	height: 350px;
}

.owl-nav>div {
    margin-top: -26px;
    position: absolute;
    top: 43%;
    color: #cdcbcd;
}

.owl-nav i {
    font-size: 22px;
}

.owl-nav .owl-prev {
    left: -30px;
}

.owl-nav .owl-next {
    right: -30px;
}

.owl-carousel .item:hover .item-content {
    opacity: 1;
    transition: 1s all;
}

.pfolio-logo {
	position: absolute;
	z-index: 9;
	bottom: 15%;
	width: 100%;
}
.pfolio-logo img {
	max-width: 60%;
	margin: 0 auto;
}

.pfolio-item-bg {
	height: 100%;
}
.pfolio-item-bg img{
	width: 100%;
	height: 100%;
	border-radius: 20px;
	object-fit: cover;
}

.pfolio-item-bg:before{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	content: "";
	background-color: #000;
	opacity: 0.4;
  	z-index: 0;
	border-radius: 20px;
}

.pfolio2{
	position: relative;
	/* overflow: hidden; */
}

.shape1 {
	width: 40%;
	position: absolute;
	right: -13%;
	top: 10%;
	opacity: 1;
}
.shape1 img{
	width: 100%;
	height: 100%;
}

.shape2 {
	width: 40%;
	position: absolute;
	top: -85%;
	left: -30%;
	opacity: 1;
}
.shape2 img{
	width: 100%;
	height: 100%;
}
/* ----------- END start verticals ----------------*/


/* ----------- start who we are ----------------*/
.we-are {
	padding: 80px 0;
}
/* .we-are-cont h2{
	font-size: 50px;
	font-weight: bold;
	text-align: center;
	font-family: var(--second-font) !important;
} */

.we-are-cont{
	/* padding: 0 150px; */
  	text-align: center;
}

.we-are-cont h2{
	font-size: 30px;
	font-weight: bold;
	line-height: 30px;
	color: #272f56;
	text-transform: uppercase;
	margin-bottom: 30px;
	font-family: var(--second-font) !important;
}

.we-are-cont p{
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	color: #000;
	margin-bottom: 0;
	font-family: var(--third-font) !important;
}

.button-wrapper {
	position: relative;
	display: inline-block;
	margin-top: 30px;
  }
  
  
  .button-wrapper button {
	display: block;
	font-size: 18px;
	line-height: 25px;
	font-weight: 300;
	padding: 12px 32px;
	background-color: white;
	color: #000;
	border-radius: 6px;
	border: 0px;
	cursor: pointer;
	font-family: var(--third-font) !important;
  }
  .button-wrapper button:hover {
	color: white;
	background-color: transparent;
  }

  .button-wrapper .button-bg {
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	background: linear-gradient(90deg, #22a7df 0%, #38bdb9 100%);
	/* background-size: 600% 600%; */
	border-radius: 8px;
	animation: AnimateBorder 4s ease infinite;
	-webkit-animation: AnimateBorder 4s ease infinite;
	-moz-animation: AnimateBorder 4s ease infinite;
	z-index: -1;
	transform: translate(-2px, -2px);
	transition: filter 1s ease-in;
  }
  
  /* .button-wrapper:hover .button-bg {
	filter: blur(10px);
	transition: filter .4s ease-in;
  }


/* ----------- END who we are ----------------*/



/* start counter */
.counter-outr{
	padding: 50px 0;
	position: relative;
	background-image: url(../img/counter-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.counter-head h2 {
	font-size: 50px;
	line-height: 60px;
	font-weight: 600;
	text-align: center;
	margin-bottom: 30px;
	font-style: italic;
	font-family: var(--third-font) !important;
}

.counter_wrapper {
	display: flex;
	justify-content: space-between;
}

.counter_item{
    width: 270px;
}

.counter_item-in{
	display: flex;
    align-items: center;
    justify-content: center;
}

.counter_item h1{
    font-size: 60px;
	font-weight: bold;
	margin-bottom: 0;
	background: linear-gradient(90deg, #2296ce, #185694);
    background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	font-family: var(--second-font) !important;
}

.counter_item span{
    font-size: 60px;
	font-weight: bold;
	height: 70px;
	background: linear-gradient(90deg, #2296ce, #185694);
    background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
}

.counter-cont p{
	font-size: 16px;
	line-height: 25px;
	text-align: center;
	background: linear-gradient(90deg, #2296ce, #185694);
    background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	font-family: var(--third-font) !important;
}

/* END counter */

/* common */
.about,
.pfolio,
/* .pfolio2,
.we-are,
.counter-outr, */
.inner-all-outer,
.counter-all-in,
.custom-tab,
.pfolio2,
.clients,
.future,
.solution {
	position: relative;
	overflow: hidden;
}


/* Start custom tabs */
.custom-tab{
	padding: 100px 0 0;
}

.nav-tabs {
	display: flex;
	gap: 30px;
	border-bottom: none;
}

.nav-tabs .nav-link {
	font-size: 17px;
	font-weight: 600;
	line-height: 24px;
	background: transparent;
	border-radius: 20px;
	padding: 30px 20px;
	color: #185190;
	transition: all 0.3s ease-in-out;
	height: 100%;
	width: 200px;
	border: 0;
	font-family: var(--third-font) !important;
}
.nav-tabs .nav-link:hover {
	color: #fff;
	background: linear-gradient(0deg, #161934 0%, #293571 100%);
	box-shadow: 4px 7px 25px rgba(0, 0, 0, 0.43);
}
.nav-tabs .nav-link:hover .custom-tab-icon{
	filter: brightness(0) invert(1);
}

.nav-tabs .nav-link.active {
	color: #fff;
	background: linear-gradient(0deg, #161934 0%, #293571 100%);
	box-shadow: 4px 7px 25px rgba(0, 0, 0, 0.43);
	/* transform: scale(1.1); */
}
.nav-tabs .nav-link.active .custom-tab-icon{
	filter: brightness(0) invert(1);
}

.custom-tab-icon {
	width: 125px;
	margin: 0 auto 10px auto;
}

.tab-content {
	margin-top: 30px;
	background: #fff;
	border-radius: 10px;
}

.tab-pane.accordion-item {
	border: 0;
}

.tab-pane .accordion-body{
	padding-top: 50px;
}

.tab-pane .accordion-body p{
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #000;
	font-family: var(--third-font) !important;
	text-align: justify;
}



/* start clients */
.clients {
    position: relative;
    margin: 100px 0 0;
}

.clients h2 {
  font-size: 35px;
  font-weight: bold;
  color: #185190;
  text-transform: uppercase;
  text-align: center;
  font-family: var(--second-font) !important;
}

.clients p {
	font-size: 18px;
	font-weight: 500;
	color: #000;
	text-align: center;
	font-family: var(--third-font) !important;
  }

/* .clients .carousel-wrap {
    position: relative;
	margin-top: 50px;
}

.clients .owl-carousel .item {
    position: relative;
    z-index: 100;
    -webkit-backface-visibility: hidden;
	height: 70px;
} */

.clients-content{
	margin-bottom: 20px;
}

.clients-cont-out{
	margin-top: 25px;
}

.clients .clients-content-item{
	height: 150px;
	padding: 30px 50px;
	box-shadow: rgba(19, 18, 18, 0.11) 0px 4px 12px;
  	border-radius: 15px;
}

.clients .clients-content-item img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* END clients */



/* start future section */
.future{
	background-image: url(../img/bg-002.png);
	background-size: cover;
	background-repeat: no-repeat;
	height: 600px;
	margin-top: 100px;
	background-position: right;
}

.future-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.future-content h2{
	font-size: 35px;
	font-weight: bold;
	line-height: 40px;
	color: white;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: var(--second-font) !important;
}

.future-content p{
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #96daf8;
	margin-bottom: 30px;
	font-family: var(--third-font) !important;
}

.future .explore {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #96daf8;
	border-bottom: 3px solid #96daf8;
	display: inline-block;
	width: fit-content;
	font-family: var(--third-font) !important;
}
/* start future section */


/* start solution section */
.solution{
	background-image: url(../img/003.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	height: 550px;
	/* margin-top: 100px; */
}

.solution-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.solution-content h2{
	font-size: 35px;
	font-weight: bold;
	line-height: 40px;
	margin-bottom: 20px;
	background: linear-gradient(90deg, #2296ce, #185694);
    background-clip: border-box;
	background-clip: border-box;
	-webkit-background-clip: text;
	color: transparent;
	text-transform: uppercase;
	font-family: var(--second-font) !important;
}

.solution-content p{
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #185694;
	margin-bottom: 30px;
	font-family: var(--third-font) !important;
}

.solution .explore {
	font-size: 20px;
	font-weight: 400;
	text-transform: uppercase;
	color: #185694;
	border-bottom: 3px solid #185694;
	display: inline-block;
	width: fit-content;
	font-family: var(--third-font) !important;
}
/* start future section */




/*---footer--*/
.footer {
	padding: 80px 0;
	background: linear-gradient(90deg, #161934 0%, #293571 100%);
}

.left-bottom-logo-out{
	padding-right: 70px;
}

.left-bottom-logo{
	width: 220px;
}

.footer .left-bottom-logo-out p {
	font-size: 13px;
	font-weight: 200;
	line-height: 25px;
	color: white;
	padding-top: 20px;
}

.footer ul{
	padding: 0;
}

.footer ul li {
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: white;
	list-style: none;
	transition: transform 0.3s ease;
}

.footer ul li:hover {
	transform: translateX(3px);
}

.footer .footer-nav h5 {
	font-size: 18px;
	font-weight: 200;
	line-height: 30px;
	color: white;
	cursor: pointer;
}
.footer ul li a {
	font-size: 16px;
	font-weight: 200;
	line-height: 25px;
	color: white;
	cursor: pointer;
}

.footer ul li a:hover {
	color: #2296ce;
}

/* .footer-nav {
	margin-top: 15px;
	text-align: center;
} */










.footer-bottom-cont {
	font-size: 15px;
	font-weight: 300;
	color: white;
	margin-top: 30px;
	text-align: left;
	display: flex;
	flex-wrap: wrap;
	line-height: 30px;
}

.footer-bottom-cont2{
	padding-left: 50px;
}

.footer-bottom-cont3{
	padding-left: 50px;
}

/* .footer-icons svg {
	padding: 0 6px;
	cursor: pointer;
}

.footer-icons svg:hover {
	color: #EF5656;
} */

/*---END footer---*/


/*---returnTop-----*/
#topButton {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 99;
	font-size: 16px;
	background-color: #333;
	color: white;
	border: none;
	padding: 10px 15px;
	cursor: pointer;
	border-radius: 5px;
}

#topButton:hover {
	background-color: #555;
}

/*---ENDreturnTop-----*/



/*--Window scroll-bar Right--*/
/* .r-scroll {
	width: 600px;
	height: 300px;
	padding: 10px;
	transform: translateX(400px);
  } */

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	background-color: #272f6e;
}

::-webkit-scrollbar-thumb {
	background-color: #22a7df;
	border-radius: 10px;
}

/*--END Window scroll-bar Right--*/


/*------------------------------------
			start about page
-------------------------------------*/
.banner-2 {
	background-image: url(../img/inner_banner.png);
	height: 300px;
	display: flex;
	align-items: center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
}

.banner-2 h2 {
	font-weight: 400;
	font-size: 48px;
	font-family: var(--second-font);
	color: #fff;
}

.banner-2 span {
	font-weight: 400;
	font-size: 14px;
	color: #fff;
}

.abt-page-out{
	padding: 80px 0;
}

.abt-page-content{
	padding-right: 30px;
}

.abt-page-content h2{
	font-size: 35px;
	font-weight: bold;
	color: #272f56;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-family: var(--second-font) !important;
}
.abt-page-content h6{
	font-size: 18px;
	font-weight: 300;
	line-height: 30px;
	color: #22a7df;
	margin-bottom: 0;
}

.abt-page-content p{
	font-size: 18px;
	font-weight: 300;
	line-height: 35px;
	color: #000;
	margin-bottom: 0;
	text-align: justify;
	font-family: var(--third-font) !important;
}

.abt-page-img img{
	border-radius: 25px;
}

.empower{
	/* background-image: url(../img/about-02.png); */
	background-color: #1f2555;
	height: 500px;
	display: flex;
	align-items: center;
	/* background-size: contain;
	background-repeat: no-repeat;
	background-position: right; */
	/* text-align: center;*/
	position: relative;
}
/* .empower:before{
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	content: "";
	background-color: #1e2859;
	opacity: 0.9;
  	z-index: 0;
} */

.bin-about-page video{
	position: absolute;
	right: 0;
	object-fit: contain;
	top: 0;
	height: 500px;
}

.empower-content {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.empower-content h2{
	font-size: 35px;
	font-weight: bold;
	line-height: 40px;
	color: white;
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: var(--second-font) !important;
}

.empower-content p{
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	color: #96daf8;
	margin-bottom: 30px;
	font-family: var(--third-font) !important;
}


/*------------------------------------
			projects listing page
-------------------------------------*/

.project-lising-out{
	padding: 80px 0;
}

.project-lising-content{
	padding-right: 30px;
}

.project-lising-in{
	margin-bottom: 35px;
	border-bottom: 1px solid #aabbcc40;
	padding-bottom: 35px;
}

.project-lising-img{
	height: 100%;
}
.project-lising-img img{
	height: 100%;
	width: 100%;
  	object-fit: cover;
	border-radius: 12px;
}

.project-lising-content h4{
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	color: #272f56;
	text-transform: uppercase;
	margin-bottom: 3px;
	font-family: var(--second-font) !important;
}
.project-lising-content h6{
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	color: #22a7df;
	margin-bottom: 0;
}

.project-lising-content p{
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	color: #000;
	margin-bottom: 0;
	text-align: justify;
	font-family: var(--third-font) !important;
}

.project-lising-content .button-wrapper {
	margin-top: 15px;
}

.project-lising-content .button-wrapper button {
	font-size: 16px;
	line-height: 18px;
}


/* project details */
.project-details-in{
	padding-right: 30px;
}

.project-details-out{
	padding: 80px 0;
}

.project-details-img{
	height: 500px;
	overflow: hidden;
}

.project-details-img img{
	height: 100%;
	width: 100%;
  	object-fit: cover;
	border-radius: 12px;
}

.project-details-content{
	margin-top: 35px;
}

.project-details-content h4{
	font-size: 35px;
	font-weight: bold;
	line-height: 40px;
	color: #272f56;
	margin-bottom: 10px;
	font-family: var(--second-font) !important;
}

.project-details-content h6{
	font-size: 14px;
	font-weight: 300;
	line-height: 30px;
	color: #22a7df;
	margin-bottom: 0;
}

.project-details-content p{
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	color: #000;
	margin-bottom: 0;
	text-align: justify;
	margin-top: 15px;
	font-family: var(--third-font) !important;
}

/* Contact Section Styles */
.contact-section{
	padding: 80px 0;
}

.contact-info h2 {
	font-size: 36px;
	margin-bottom: 10px;
	color: #333;
	text-align: center;
	font-family: var(--second-font) !important;
}

.contact-info p {
	color: #666;
	margin-bottom: 20px;
	text-align: center;
	font-family: var(--third-font) !important;
}

/* .contact-details{
	display: flex;
  	gap: 20px;
	justify-content: space-between;
} */


.contact-item {
	display: flex;
	align-items: flex-start;
	border: 1px solid #abcd;
	padding: 25px;
	border-radius: 15px;
	transition: box-shadow 0.7s;
	height: 100%;
}
.contact-item:hover {
  box-shadow: rgba(99, 99, 99, 0.49) 0px 4px 8px 0px;
}

.contact-item .icon {
	width: 50px;
	height: 50px;
	background: #272f56;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	color: #fff;
	font-size: 20px;
}

.contact-item .info h4 {
	margin: 0 0 5px;
	font-size: 20px;
	color: #333;
	font-weight: 500;
  	font-family: var(--second-font) !important;
}

.contact-item .info p {
	margin: 0;
	color: #666;
	text-align: left;
}

/* Form Styles */
.form-total-out{
	padding: 80px;
	background-image: url(../img/counter-bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}

.contact-form {
	/* background: #fff; */
	/* padding: 30px; */
	border-radius: 15px;
}

.contact-form h2{
	font-size: 36px;
	margin-bottom: 10px;
	color: #333;
	text-align: center;
	font-family: var(--second-font) !important;
}

.contact-form p{
	font-size: 16px;
	color: #666;
	margin-bottom: 20px;
	text-align: center;
	font-family: var(--third-font) !important;
}

.contact-form{
	text-align: center;
}

.form-group {
	position: relative;
	margin-bottom: 25px;
}

.form-group label {
	font-size: 15px;
	font-weight: 400;
	color: #000;
	margin-bottom: 5px;
}

.form-group label span {
	color: red;
}

.form-control {
	width: 100%;
	padding: 15px 20px;
	border: 1px solid #253065c4;
	border-radius: 8px;
	font-size: 15px;
	transition: all 0.3s ease;
	background-color: transparent;
}

.form-control:focus {
	outline: none;
	border-color: var(--primary-color);
	box-shadow: none;
}

.focus-border {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 2px;
	background: var(--primary-color);
	transition: all 0.3s ease;
}

.form-control:focus~.focus-border {
	width: 98%;
	margin-left: 5px;
}

select.form-control {
	appearance: none;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='%23555' viewBox='0 0 16 16'%3E%3Cpath d='M8 12L0 4h16z'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 15px center;
	padding-right: 40px;
}

textarea.form-control {
	resize: none;
	height: 150px;
}

/* location */
.contact-location iframe{
	width: 100%;
	/* height: 500px; */
}

/*------------------------------------
		sector listing page
-------------------------------------*/

.sector-lising-out{
	padding: 80px 0;
}

.sector-lising{
	margin-bottom: 35px;
}

.sector-lising-in{
  	height: 100%;
  	border-radius: 15px;
	border: 1px solid #aabbcc40;
	transition: box-shadow 0.7s ease;
}
.sector-lising-in:hover {
  box-shadow: rgba(99, 99, 99, 0.49) 0px 4px 8px 0px;
}

.sector-lising-img{
	height: 250px;
}
.sector-lising-img img{
	height: 100%;
	width: 100%;
  	object-fit: cover;
	border-radius: 12px 12px 0 0;
}

.sector-lising-content {
	padding: 25px;
}

.sector-lising-content h4{
	font-size: 20px;
	font-weight: bold;
	line-height: 28px;
	color: #272f56;
	text-transform: uppercase;
	margin-bottom: 3px;
	font-family: var(--second-font) !important;
}

.sector-lising-content h6{
	font-size: 14px;
	font-weight: 300;
	color: #22a7df;
}

.sector-lising-content p{
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	color: #000;
	margin-bottom: 0;
	text-align: justify;
	font-family: var(--third-font) !important;
}

.sector-lising-content .button-wrapper {
	margin-top: 15px;
}

.sector-lising-content .button-wrapper button {
	font-size: 16px;
	line-height: 18px;
}


/*------------------------------------
		group of companies page
-------------------------------------*/

.group-lising-out{
	padding: 80px 0;
}

.group-lising{
	margin-bottom: 35px;
}

.group-lising-in{
  	height: 100%;
  	border-radius: 15px;
	border: 1px solid #aabbcc40;
	transition: box-shadow 0.7s ease;
}
.group-lising-in:hover {
  box-shadow: rgba(99, 99, 99, 0.49) 0px 4px 8px 0px;
}


.group-list-head-out{
	position: relative;
  	overflow: hidden;
}

.group-lising-img{
	height: 250px;
}
.group-lising-img img{
	height: 100%;
	width: 100%;
  	object-fit: cover;
	border-radius: 12px 12px 0 0;
}

.group-list-cont-head{
	position: absolute;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 100%;
	color: #fff;
	padding: 20px;
	z-index: 9;
	/* background-color: #9f9f9f47;
	backdrop-filter: blur(20px); */
	background: linear-gradient(0deg,rgb(0, 0, 0) 0%, rgba(255, 255, 255, 0) 100%);
	display: flex;
  	align-items: center;
	min-height: 100px;
}

.group-list-cont-head h4{
	font-size: 20px;
	font-weight: bold;
	line-height: 25px;
	color: #ffffff;
	text-transform: uppercase;
	margin-bottom: 3px;
	font-family: var(--second-font) !important;
}

.group-list-cont-head h6{
	font-size: 14px;
	font-weight: 300;
	color: #22a7df;
}

.group-lising-content {
	padding: 25px;
}

.group-lising-content p{
	font-size: 14px;
	font-weight: 300;
	line-height: 25px;
	color: #000;
	margin-bottom: 0;
	text-align: justify;
	font-family: var(--third-font) !important;
}

.group-lising-content .button-wrapper {
	margin-top: 15px;
}

.group-lising-content .button-wrapper button {
	font-size: 16px;
	line-height: 18px;
}

/* right */
.right-group-lising{
	background-color: #f4f4f4;
  	padding: 45px;
}

.right-group-lising h3{
	font-size: 25px;
	font-weight: 500;
	color: #000;
	margin-bottom: 15px;
	font-family: var(--second-font) !important;
}

.right-group-lising ul{
	padding-left: 0;
}

.right-group-lising ul li{
	list-style: none;
	margin-bottom: 13px;

}

.right-group-lising ul li a {
	font-size: 18px;
	font-weight: 500;
	color: #4a4747;
	line-height: 40px;
	font-family: var(--third-font) !important;
}

.right-group-lising ul li a:hover {
	color: #2296ce;
}

.right-group-lising li::before {
  content: "›";  
  position: absolute;
  margin-left: -0.7em;
  font-size: 25px;
}

.right-group-lising li {
  position: relative;
  text-indent: -0em;
  padding-left: 1.5em;
}


/* project details */
.group-details-in{
	padding-right: 30px;
}

.group-details-out{
	padding: 80px 0;
}

.group-details-img{
	height: 500px;
	overflow: hidden;
	margin-bottom: 30px;
}

.group-details-img img{
	height: 100%;
	width: 100%;
  	object-fit: cover;
	border-radius: 12px;
}

/* .group-details-content{
	margin-top: 35px;
} */

.group-details-content h4{
	font-size: 35px;
	font-weight: bold;
	line-height: 40px;
	color: #272f56;
	margin-bottom: 25px;
	font-family: var(--second-font) !important;
}

.group-details-content h6{
	font-size: 14px;
	font-weight: 300;
	color: #22a7df;
	border: 1px solid #22a7df;
	display: inline-block;
	padding: 8px 17px;
	border-radius: 50px;
	background-color: aliceblue;
	margin-bottom: 10px;
	margin-right: 6px;
}

.group-details-content p{
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	color: #000;
	margin-bottom: 0;
	text-align: justify;
	margin-top: 25px;
	font-family: var(--third-font) !important;
}

.companies-asso{
	margin-top: 30px;
}

.companies-associate h3{
	font-size: 35px;
	font-weight: 300;
	line-height: 30px;
	color: #000;
}

.companies-asso-in h3{
	font-size: 25px;
	font-weight: bold;
	line-height: 40px;
	color: #272f56;
	margin-bottom: 0;
}

.companies-asso-items{
	background-color: #1d234a;
	padding: 20px;
	border-radius: 12px;
	margin-top: 20px;
}
.companies-asso-items img{
	height: 60px;
	width: 100%;
	object-fit: contain;
}

.companies-asso{
	margin-bottom: 60px;
}
.companies-asso-in{
	background-color: aliceblue;
	padding: 50px;
	border-radius: 20px;
}




/*-------------------------------------
		company details page
--------------------------------------*/
/* Desitination */

/* .gallery-container {
	max-width: 1200px;
	margin: 0 auto;
} */

.gallery-grid {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-auto-rows: minmax(auto, auto);
	gap: 15px;
	margin-top: 30px;
}

.gallery-item {
	position: relative;
	overflow: hidden;
	border-radius: 15px;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
	transition: transform 0.3s ease;
	height: 200px;
}

.gallery-item:hover img{
	transform: scale(1.2);
	transition: ease-in-out 1s;
}

.gallery-item::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.419);
}

.gallery-item img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	transition: transform 0.5s ease;
}




/*------------------------------------
		History page
-------------------------------------*/

.history{
	padding: 80px 0;
}

.timeline {
  position: relative;
}

.timeline-line {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #e0e0e0;
  background: linear-gradient(45deg, transparent, black, transparent);
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  flex-direction: column; 
  margin-bottom: 60px; 
  position: relative;
}

.timeline-number {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  z-index: 2;
  margin-right: 20px; 
  flex-shrink: 0;
  transform: unset; 
}

.timeline-content {
  flex: 1;
  margin-left: 60px; 
  margin-top: -40px; 
  padding-top: 10px;
}

.timeline-content h2 {
  font-size: 20px; 
  margin-bottom: 10px; 
  color: #333;
  font-weight: 600;
  font-family: var(--second-font);
}

.timeline-content p {
  color: #666;
  font-size: 16px;
  margin-bottom: 15px; 
  max-width: 100%; 
  font-family: var(--third-font) !important;
}

.timeline-image {
  width: calc(100% - 60px); 
  height: 180px; 
  /* background-color: #f5f5f5; */
  /* border-radius: 8px; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  margin-left: 60px; 
  margin-top: 20px; 
  flex-shrink: 0;
}

.timeline-image img {
  max-width: 100%; 
  max-height: 100%;
}

.timeline-item:last-child{
		margin-bottom: 0;
}

@media (min-width: 769px) {

  .timeline {
    margin: 60px 0;
  }

  .timeline-line {
    left: 40px;
    transform: translateX(-50%);
  }

  .timeline-item {
    flex-direction: row; 
    margin-bottom: 80px;
  }

  .timeline-number {
    margin-right: 40px;
    width: 40px;
    height: 40px;
    transform: translateX(20px); 
  }

  .timeline-content {
    margin-left: 0; 
    margin-top: 0; 
    padding-top: 0;
  }

  .timeline-content h2 {
    font-size: 24px;
    margin-bottom: 15px;
  }

  .timeline-content p {
    font-size: 16px;
    margin-bottom: 20px;
    max-width: 500px;
  }

  .timeline-image {
    width: 300px;
    height: 200px;
    margin-left: 40px;
    margin-top: 0; 
  }

}


/* --------------------------------------
				career page
---------------------------------------*/
.career-out{
	padding: 100px 0;
	position: relative;
	overflow: hidden;
}

.career-cont{
	background-color: #eefdff;
  	padding: 20px;
	margin-bottom: 30px;
}
.career-cont-dtls button {
	font-size: 16px;
	font-weight: 300;
	color: #135493;
	padding: 12px 30px;
	border: 1px solid #22a7df;
	border-radius: 6px;
	margin-top: 25px;
	font-family: var(--third-font) !important;
}

.career-cont-dtls button:hover {
	color: white;
	border: 1px solid #22a7df;
	background-color: #22a7df;
}

.career-cont-dtls h3{
	margin-top: 20px;
	font-size: 20px;
	font-weight: 600;
}

.career-cont-dtls p{
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	color: #000;
	margin-bottom: 0;
	font-family: var(--third-font) !important;
	
}

/* .career-cont-dtls-btn{
	text-align: center;
} */

.career-img img{
	width: 100%;
	height: 350px;
	object-fit: cover;
}



/* last added */
.comp-right-img{
	background-color: #212a59;
  	padding: 35px;
	border-radius: 15px;
}

.comp-right-cont-head{
	margin-top: 25px;
}

.comp-right-cont-head h3{
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 2px;
}

.comp-right-cont-head p{
	font-size: 14px;
	font-weight: 500;
}

.comp-right-cont-logos{
	margin-top: 25px;
}

.comp-right-cont-logos span{
	color: #212a59;
	padding: 10px 15px;
	border-radius: 5px;
	border: 1px solid #212a59;
	cursor: pointer;
}
.comp-right-cont-logos span:hover{
	background-color: rgb(62, 132, 182);
	color: white;
}

.comp-dtls{
	margin-top: 30px;
	background-color: #f4f4f4;
  	padding: 20px;
}
.comp-dtls-in{
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 10px;
}

.left-comp-dtls{
	font-size: 16px;
	font-weight: 500;
}

.download-brochure{
	padding: 15px;
	background-color: #212a59;
	margin-top: 25px;
}

.download-brochure a{
	display: flex;
  color: white;
  gap: 7px;
  font-size: 20px;
  align-items: center;
}

.download-brochure a h6{
	margin: 0;
}

.how-can-help{
	margin-top: 25px;
  background-color: #3e84b6;
  padding: 30px;
  color: white;
}

.how-can-help h3{
	font-size: 22px;
	font-weight: 600;
}

.how-can-help p{
	font-size: 14px;
  font-weight: 500;
  line-height: 25px;
}

.grop-bottom-dtls{
	border-top: 1px solid #dbdbdbde;
	margin-top: 50px;
	padding: 30px 0 0;
}

.grop-bottom-dtls h4{
	font-size: 25px;
	font-weight: 600;
	color: #212a59;
}

.grop-bottom-dtls p{
	font-size: 16px;
	font-weight: 500;
	color: #686868;
	line-height: 30px;
}

.grop-bottom-dtls ul{
	margin-top: 15px;
}

.grop-bottom-dtls ul li{
	list-style: none;
	list-style: none;
	line-height: 40px;
	font-size: 16px;
}

.grop-bottom-dtls ul li span{
	background-color: #3e84b6;
	padding: 4px 8px;
	border-radius: 50px;
}

.grop-bottom-dtls ul li span svg{
	font-size: 13px;
	color: white;
}

.grop-company-bottom-cont-out{
	margin-top: 50px;
}

.grop-company-bottom-cont {
	width: 80%;
}
.grop-company-bottom-cont ul{
	padding: 0;
	margin: 0;
}
.grop-company-bottom-cont ul li{
	width: 20%;
	display: inline-block;
	background-color: #dddddd;
	padding: 12px;
	margin-bottom: 5px;
	cursor: pointer;
}
.grop-company-bottom-cont ul li:hover{
	background-color: #3e84b6;
	color: white;
}

.grop-company-bottom-cont-out{
	display: flex;
}


/* portfolio popup */

/* END form popup */

/* form popup */
.popup-form-outr .offcanvas {
    width: 100% !important;
}
  
.modal-main-input .offcanvas-end{
    width: 100% !important;
    background: #000000ad;
}
  
.modal-main-input .btn-close{
    filter: invert(1) !important;
}
  
.modal-main-input .input-container {
    position: relative;
    margin: 20px;
}

.modal-main-input .btn-close:focus {
    box-shadow: none;
    outline: none;
}

.modal-main-input .btn-close:hover {
    color: #00d9d9;
}
  
.modal-main-input .input-field {
    display: block;
    width: 100%;
    padding: 17px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: #2c6d9b;
    color: white;
    border-radius: 8px !important;
}
  
.modal-main-input .input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
}
  
.modal-main-input .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0;
    background-color: rgb(0, 0, 0);
    transition: all 0.3s ease;
}
  
.modal-main-input .input-field:focus + .input-label {
    top: -20px;
    font-size: 12px;
    color: rgb(0, 0, 0);
}
  
.modal-main-input .input-field:focus + .input-label + .input-highlight {
    width: 100%;
}
  
.get-heading{
    font-size: 30px;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
    position: relative;
    display: inline-block;
    padding-bottom: 18px;
}
.get-heading::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, #fff, rgba(255, 255, 255, 0));
}

.offcanvas-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
}

.modal-main-input {
    width: 60%;
    /* height: 75%; */
    backdrop-filter: blur(89.69999694824219px);
    background: #3e84b6;
    padding: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #2f2f2f;
    border-radius: 20px;
	margin: auto;
}

.offcanvas-header {
    position: absolute;
    right: 30px;
    top: 30px;
    color: white;
    z-index: 9;
}

.modal-main-input .input-group {
    margin-top: 25px;
}

.career-popup-submit{
	display: flex;
	justify-content: center;
	margin-top: 30px;
}
  
.offcanvas {
    transition: transform .8s ease-in-out !important;
    z-index: 99999;
    background-color: #0000 !important;
}
  
.iti {
    width: 100% !important;
}
  
.gt-icon{
    width: 14px;
    display: none;
}
  
.d-text-none{
    display: block;
}


/* END form popup */


.career-popup-submit button{
	padding: 12px 30px;
  color: #000;
	background-color: white !important;
}



input::placeholder {
  color: #bdbdbd; /* Replace with your desired color */
  opacity: 1; /* Optional: makes sure it's fully visible */
}

/* For better browser support: */
input::-webkit-input-placeholder {
  color: #bdbdbd;
}
input:-moz-placeholder {
  color: #bdbdbd;
}
input::-moz-placeholder {
  color: #bdbdbd;
}
input:-ms-input-placeholder {
  color: #bdbdbd;
}


/* html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.sections-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.section {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.slider-banner {
  z-index: 2;
}

.about {
  z-index: 1;
} */





/* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; 
}

.sections-container {
  height: 200vh; 
  scroll-behavior: smooth;
}

section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
} */





 /* html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.sections-container {
  height: 100vh; 
  scroll-behavior: smooth;
  position: relative;
  z-index: 8;
}

.section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.about {
	height: 110vh;
}
.bin-about-cont {
  height: 100vh;
} */



.section{
  width: 100%;
  height: 100vh;
  /* display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; */
}

/* p{
  font-size: 200%;
  font-family: monospace;
  font-weight: bold;
} */

/* #sec1{
  background-color: rgb(255, 153, 153); 
}

#sec2{
  background-color: rgb(153, 204, 255); 
}

#sec3{
  background-color: rgb(255, 153, 102); 
} */

/* .slider-banner {
  min-height: 100vh;
  overflow: hidden;
  position: relative;
} */


